.App {
  text-align: left;
  margin: 0px 200px;
}

.App-header {
  background-color: #12367f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0px 20px;
}